<nav-bar></nav-bar>


<div class="research-topics-page-container">
    <div class="container">


        <div class="panel panel-default new-book-panel" id="topicInputFields">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Add Research Topic </h3>
            </div>

            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></span>
                    <input class="form-control" ng-model="topicName" type="text" placeholder="What Topic Are You Going to Spend Time Researching?">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></span>
                    <input class="form-control" ng-model="secondaryText" type="text" placeholder="Secondary Text">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></span>
                    <input class="form-control" type="text" ng-model="topicImage" placeholder="image">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></span>
                    <input class="form-control" type="text" ng-model="topicBackgroundImage" placeholder="background image">
                </div>
            </div>
            <div class="btn-group">
                <button ng-show="!isEditing" class="snip1562" ng-click="addResearchTopic()">Add Research Topic </button>
                <button ng-show="isEditing" class="snip1562" ng-click="updateTopic()">Update Topic </button>
                <button ng-show="isEditing" class="snip1562" ng-click="cancelEdit()">Cancel Edit</button>
            </div>
        </div>


        <div ng-repeat="topic in researchTopics" class="topic-container animate-repeat">
            <h1 class="my-4">{{topic.topicName}}
                <small>{{topic.secondaryText}}</small>
            </h1>
            <div class="row">
                <div class="col-md-7">
                    <a ng-click="openResearchTopicPage($index)"><img class="img-fluid rounded mb-3 mb-md-0" src="{{topic.topicImage}}" alt=""></a>
                </div>
            </div>
            <hr>
            <div class="btn-group">
                <button class="btn btn-danger" ng-click="deleteTopic(topic, $index)">Delete Research Topic</button>
                <button class="btn btn-default" ng-click="toggleUpdateTopic(topic)">Edit Research Topic</button>
            </div>
        </div>


    </div>
</div>
