
<nav-bar></nav-bar>
<div class="todoContainer">

    <div class="container">
        <div class="row">
            <div class="well">
                <h2>Add</h2>
                <form action="">
                    <input class="form-control" type="text" ng-model="addTaskInput">
                    <button ng-click="addTask(addTaskInput)" type="button" name="button">Add todo</button>
                </form>


            </div>
            <h2>Tasks To complete</h2>
            <div class="unfinished-tasks well">
                <ul ng-repeat="task in todoList">
                    <li>{{task.task}}</li>
                    <li>created: {{task.createdAt | date:'medium'}}</li>
                    <button ng-click="markComplete(task, $index)">Mark as complete</button>
                    <button ng-click="deleteTask(task, $index)">Mark as complete</button>
                </ul>
            </div>

            <h2>Completed</h2>
            <div class="finished-tasks well">
                <ul ng-repeat="completedTask in completedList">
                    <li>{{completedTask.task}}</li>
                    <li>{{completedTask.createdAt}}</li>
                    <li>{{completedTask.completedAt}}</li>
                </ul>
            </div>
        </div>
    </div>





</div>
