<nav-bar></nav-bar>

<div class="todoContainer">

    <div class="row">
        <div class="tabbable col-md-2 well well-sm" ng-init="selectedTab = 1;">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: selectedTab == 1}">
                    <a href="javascript:void(0)" ng-click="selectedTab = 1;">Daily Contact</a>
                </li>
                <li ng-class="{active: selectedTab == 2}">
                    <a href="javascript:void(0)" ng-click="selectedTab = 2;">Todo List</a>
                </li>
                <li ng-class="{active: selectedTab == 3}">
                    <a href="javascript:void(0)" ng-click="selectedTab = 3;">Daily Tasks</a>
                </li>
                <li ng-class="{active: selectedTab == 4}">
                    <a href="javascript:void(0)" ng-click="selectedTab = 4;">Weekly Tasks</a>
                </li>
            </ul>
        </div>

        <div class="tasks-container col-md-9">
            <div class="tab-content" ng-show="selectedTab == 1">
                <div>
                    <h3 class="text-center">{{dailyContact.person}}</h3>
                    <div class="row">
                        <div class="image-container">
                            <img class="img-responsive" ng-src="{{dailyContact.picture}}" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content" ng-show="selectedTab == 2">
                <div class="well well-sm addTodo">
                    <form action="">
                        <input placeholder="What do you need to get done, Kyle?" class="form-control" type="text" ng-model="addTaskInput">
                        <button class="snip1562" ng-click="addTask(addTaskInput)" type="button" name="button">Add Task <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    </form>
                </div>


                <div class="unfinished-tasks well well-sm">
                    <!-- <h2>Get This Shit Done</h2> -->
                    <ul ng-repeat="task in todoList">
                        <li><h3>{{task.task}}</h3></li>
                        <li>created: {{task.dateCreated | date:'short'}}</li>
                        <button class="btn btn-primary" ng-click="updateTask(task._id, task)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></button>
                        
                        <button class="btn btn-danger" ng-click="deleteTask(task)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></button>
                    </ul>
                </div>


                <div class="finished-tasks well well-sm">
                    <h2>Completed</h2>
                    <ul ng-repeat="completedTask in completedList">
                        <li>{{completedTask.task}}</li>
                        <li>{{completedTask.dateCreated | date:'medium'}}</li>
                        <li>{{completedTask.completedAt | date:'medium'}}</li>
                        <button class="btn btn-warning" ng-click="updateTask(completedTask._id, completedTask)">Update</button>
                        <button class="btn btn-danger" ng-click="deleteTask(completedTask)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></button>
                    </ul>
                </div>
            </div>

            <div class="tab-content" ng-show="selectedTab == 3">


                <div class="unfinished-tasks well well-sm">
                    <h2>Daily Tasks</h2>
                    <div class="checkbox" ng-repeat="task in dailyTasks.dailyTasks.dailyTasks">
                        <label><input ng-click="updateDailyTask(task)" ng-checked="{{task.completed}}" type="checkbox" value="">{{task.task}}</label>
                        <button class="btn btn-danger align-right" ng-click="deleteDailyTask(task)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></button>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{dailyTasks.percentCompleted}}%">
                            {{dailyTasks.percentCompleted}}%
                        </div>
                    </div>
                </div>


                <div class="well well-sm">
                    <!-- <form action=""> -->
                        <input placeholder="Add another daily task" class="form-control" type="text" ng-model="addDailyTaskInput">
                        <button class="snip1562" ng-click="addDailyTask(addDailyTaskInput)" type="button" name="button"><span class="glyphicon glyphicon-plus" aria-hidden="true">Daily Task</button>
                    <!-- </form> -->
                </div>

                <div class="well well-sm">
                    <div ng-repeat="dailyLog in dailyTasks.dailyTasks.dailyLogs">
                        {{dailyLog.dateCreated | date: 'longDate'}}<br>
                        Completed: {{dailyLog.percentCompleted}}%
                    </div>

                </div>

            </div>

            <div class="tab-content" ng-show="selectedTab == 4">


                <div class="unfinished-tasks well well-sm">
                    <h2>Weekly Tasks</h2>
                    <div class="checkbox" ng-repeat="task in weeklyData.weeklyTasks">
                        <label><input ng-click="updateWeeklyTask(task)" ng-checked="{{task.completed}}" type="checkbox" value="">{{task.task}}</label>
                        <button class="btn btn-danger" ng-click="deleteWeeklyTask(task)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></button>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{weeklyData.percentCompleted}}%">
                            {{weeklyData.percentCompleted}}%
                        </div>
                    </div>
                </div>



                <div class="well well-sm">
                    <form action="">
                        <input placeholder="Add another weekly task" class="form-control" type="text" ng-model="addWeeklyTaskInput">
                        <button class="snip1562" ng-click="addWeeklyTask(addWeeklyTaskInput)" type="button" name="button">Add todo</button>
                    </form>
                </div>

                <div ng-repeat="week in weeklyData.weeklyLogs">
                    <h4>Week of {{week.dateCreated | date: 'longDate'}}</h4> Completed: {{week.percentCompleted}}%

                    <ul ng-repeat="task in week.tasks">
                        {{task.task}} : Completed: {{task.completed}}
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
