<nav-bar></nav-bar>

<div class="research-topic-page-container" style="background-image: url('{{researchTopic.topicBackgroundImage}}')">
    <div class="container">
        <h2>{{researchTopic.topicName}}</h2>
        <div>
            <ul ng-repeat="note in researchTopic.notes" class="well">
                <li ng-bind-html="note.note">{{note.note}}</li>
                <button ng-click="deleteNote($index)">Delete</button>
                <button ng-click="editNote(note, $index)">Edit</button>
            </ul>
        </div>


        <div class="wysiwig" id="wysiwig">
            <div text-angular ng-model="htmlVariable"></div>
            <button ng-show="!isEditingNote" class="snip1562" ng-click="addResearchTopicNotes(researchTopic, htmlVariable)">Add  Notes</button>
            <button ng-show="isEditingNote" ng-click="updateTopicNotes()">Update Notes</button>
            <button ng-show="isEditingNote" ng-click="cancelNoteEdit()">Cancel Note Edit</button>
        </div>
    </div>
</div>
