@import url('https://fonts.googleapis.com/css?family=Lato');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.parallax-section {
    background-image: url("../images/footer_lodyas.png");
    background-size: cover;
    position: static;
    text-align: center;
    width: 100%;
    height: 400px;
}

.parallax-section h2 {
    color: white;
    font-size: 4em;
    display: inline-block;
    margin-top: 150px;
}

.parallax-section .quote {
    margin-top: 120px;
    display: inline-block;
}

.background-one {
    background-image: url('https://source.unsplash.com/collection/437316/daily');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}


.quotes-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.quotes-container p {
    font-size: 2em;
    color: white;
}

.quotes-container .indent {
    margin-left: 45px;
    margin-top: 10px;
}


.parallax-section .video {
    width: 36.7%;
    margin: 40px auto 0 auto;
    display: inline-block;
}

.image-container img {
    margin: auto;
    width: 200px;
    height: 200px;
}
.todoContainer {
    height: 100vh;
    margin-left: auto;
}

.todoContainer h2 {
    text-align: center;
    font-size: 3em;
}

.home-container h2 {
    text-align: center;
    font-size: 150px;
    font-family: 'Lato';
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.unfinished-tasks, .finished-tasks {
    height: auto;
}
