@import url('https://fonts.googleapis.com/css?family=Lato');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*******************^^ Normalize ^^*****************/

* {
    font-family: 'Lato';
}

.parallax-section {
    background-image: url("../images/footer_lodyas.png");
    background-size: cover;
    position: static;
    text-align: center;
    width: 100%;
    height: 400px;
}

.parallax-section h2 {
    color: white;
    font-size: 6em;
    font-family: 'Lato';
    display: inline-block;
    margin-top: 150px;
}

.parallax-section .quote {
    margin-top: 120px;
    display: inline-block;
}

.homepage-background {
    background-image: url('https://source.unsplash.com/collection/437316/daily');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
    height: 400px;
    position: relative;
}

.quote-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.quote-container {
    color: white;
}

.quote-container p {
    cursor: pointer;
}

.quote-container .quote {
    font-size: 2.0em;
}

.quote-container .indent {
    font-size: 1.65em;
    margin-left: 900px;
    margin-top: 20px;
}

.parallax-section .video {
    width: 36.7%;
    margin: 40px auto 0 auto;
    display: inline-block;
}

.image-container img {
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.todoContainer {
    background-image: url("/images/asanoha.png");
}

.addTodo {
    margin-top: 20px;
    text-align: center;
}

.addTodo input {
    margin-top: 20px;
}

.well .checkbox {
    margin-bottom: 25px;
    font-size: 1.4em;
    border: 1px solid black;
    padding: 25px;
    border: 1px dashed #ddd;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
}

.navbar-inverse {
    margin-bottom: 20px;
}

.tabbable {
    height: 100vh;
}

.unfinished-tasks, .finished-tasks {
    height: auto;
}

.snip1562 {
    background-color: #367AB3;
    border: none;
    color: #ffffff;
    display: inline-block;
    font-size: 1.2em;
    margin: 15px 20px;
    outline: none;
    padding: 6px 20px 5px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
}

.snip1562:before, .snip1562:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
}

.snip1562:before {
    border-color: #367AB3;
    border-left-width: 2px;
    border-top-width: 2px;
    left: -5px;
    top: -5px;
}

.snip1562:after {
    border-bottom-width: 2px;
    border-color: #367AB3;
    border-right-width: 2px;
    bottom: -5px;
    right: -5px;
}

.snip1562:hover, .snip1562.hover {
    background-color: #367AB3;
}

.snip1562:hover:before, .snip1562.hover:before, .snip1562:hover:after, .snip1562.hover:after {
    height: 100%;
    width: 100%;
    color: white;
}

.grocery-banner {
    height: 315px;
    width: 100%;
    background-image: url('https://ansperformance.com/wp-content/uploads/2017/07/Keto-foods-1.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.grocery-banner h2 {
    text-align: center;
    font-weight: 600;
}

.grocery-banner span {
    color: white;
    background-color: gray;
    opacity: 50%;
    border-radius: 10px;
}


.sub-todo-container, .sub-todo-container label  {
    cursor: pointer;
}


.sub-todo-container span {
    font-size: 2em;
    display: inline-block;
}

/* .sub-todo-container .glyphicon {
    float: right;
    opacity: 0.0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
} */

.sub-todo-container:hover+.sub-todo-container .glyphicon {
    opacity: .5;
}

.list-thumbnail {
    width: 120px;
    height: 120px;
}

.journal-container {
    height: 100vh;
    background-image: url("../images/bookshelf-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
}

.book-cover-thumbnail {
    width: 200px;
    height: 290px;
}

.book-details-container {
    background-image: url('../images/congruent_pentagon.png');
    background-position: center;
    background-size: contain;
}

.new-book-form {
    margin-bottom: 40px;
}

.book-notes li {
    list-style-type: square;
}

.book-cover {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wysiwig {
    width: 80%;
    margin: auto;
}

.research-topics-page-container {
    background-image: url('../images/symphony.png');
}

.topic-container {
    cursor: pointer;
}

.research-topic-page-container {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
}

@media only screen and (max-width: 1000px) {
    .todoContainer .tabbable {
        height: 300px;
    }
    .todoContainer .tabbable li {
        font-size: 2em;
    }
    .nav-tabs li {
        font-size: 100px;
    }
}





/* navbar styling ************************* */

.navbar-default {
  background-color: #26d9d9;
  border: none;
  box-shadow: 0 1px 1px rgba(0,0,0,.175);
  .btn-default {
    color: #26d9d9;
    &:hover {
      background-color: #bdf3f3;
    }
  }
  .dropdown-menu {
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.175);
    li>a {
      &:hover {
      background-color: #bdf3f3;
     }
    }
  }
  .navbar-brand {
    color: #fff;
    &:hover {
      color: #000;
    }
    &:focus {
      color: #bdf3f3;
    }
  }
  .navbar-nav>li>a {
    color: #fff;
  }
  .navbar-nav>.active>a {
    color: #26d9d9;
    background-color: #fff;
  }
  .navbar-nav>.active>a:focus {
    color: #26d9d9;
    background-color: #fff;
  }
  .navbar-nav>.active>a:hover {
    color: #26d9d9;
    background-color: #bdf3f3;
  }
  .navbar-nav>.open>a {
    color: #26d9d9;
    background-color: #fff;
  }
  .navbar-nav>.open>a:focus {
    color: #26d9d9;
    background-color: #fff;
  }
  .navbar-nav>.open>a:hover {
    color: #26d9d9;
    background-color: #bdf3f3;
  }
  .navbar-toggle {
    border-color: #fff;
    .icon-bar {
      background-color: #fff;
    }
    &:hover {
      background-color: #bdf3f3;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
      border-radius: 0;
  }
}
