<nav-bar></nav-bar>

<div class="home-page" ng-show="!isManagingHomePage">



    <div parallax-background parallax-ratio="-0.3" class="parallax-section">
        <h2 class="align-center">Chasing Progress</h2>

        <!-- <div id="splash">
        <div id="logo-wrap" class="header">
            <canvas id="logo-canvas"></canvas>

            <img id="logo-img" src="./js/components/home/tesseract/logowhite.png">
        </div>
    </div> -->
    </div>


    <div class="homepage-background"></div>


    <div parallax-background parallax-ratio="-0.3" class="parallax-section">

        <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
            <div class="quote-container" ng-click="$ctrl.open()">
                <p class="text-align quote"><i>"{{dailyQuote.quote}}"</i></p>
                <p class="indent">- {{dailyQuote.author}}</p>
            </div>
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title text-align quote" id="modal-title"><i>"{{dailyQuote.quote}}"</i></h3>
                    <h4 class="indent" id="modal-title">- {{dailyQuote.author}}</h4>
                </div>
                <div class="modal-body" id="modal-body">
                    <ul ng-repeat="quoteNote in dailyQuote.notes">
                        <li ng-bind-html="quoteNote.note">{{quoteNote.note}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    <div class="wysiwig">
                        <div text-angular ng-model="htmlVariable"></div>
                        <button class="snip1562" ng-click="addQuoteNotes(dailyQuote, htmlVariable)">Add Quote Notes</button>
                    </div>
                </div>
            </script>
        </div>
    </div>

    <div class="homepage-background"></div>

    <div parallax-background parallax-ratio="-0.3" class="parallax-section">

        <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
            <div ng-bind-html="video" class="video">
                $sce.trustAsHtml()
            </div>
            <button class="btn" ng-click="$ctrl.open2()">Add video notes</button>
            <script type="text/ng-template" id="myModalContent2.html">
                <div class="modal-header">
                    <div ng-bind-html="video" class="video">
                        $sce.trustAsHtml()
                    </div>
                </div>
                <div class="modal-body" id="modal-body">
                    <ul ng-repeat="videoNote in embeddedVideo.notes">
                        <li ng-bind-html="videoNote.note">{{videoNote.note}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                    <div class="wysiwig">
                        <div text-angular ng-model="videoNotesInput"></div>
                    </div>
                </div>
            </script>
            <button ng-click="managePage()" type="button" name="button">Manage Page</button>
        </div>
    </div>

    <div class="homepage-background"></div>
</div>

<div class="manage-home-page" ng-show="isManagingHomePage">

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group" aria-label="...">
                <button ng-click="toggleManagePage('quotes')" type="button" class="btn btn-default">Quotes</button>
                <button ng-click="toggleManagePage('videos')" type="button" class="btn btn-default">Videos</button>
                <button ng-click="toggleManagePage('images')"type="button" class="btn btn-default">Images</button>
                <button ng-click="managePage()" type="button" name="button" class="btn btn-default">Manage Page</button>
            </div>
        </div>
    </div>


    <div class="well" uib-collapse="manageQuotes">
        <div class="addNewQuote">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title" ng-show="!isEditingQuote">Add A New Quote</h3>
                    <h3 class="panel-title" ng-show="isEditingQuote">Edit Quote</h3>
                </div>

                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></span>
                        <input placeholder="Quote" class="form-control" type="text" ng-model="newQuote">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></span>
                        <input placeholder="Author" class="form-control" type="text" ng-model="newQuoteAuthor">
                    </div>
                </div>
                <button type="button" name="button" ng-show="!isEditingQuote" ng-click="addNewQuote(newQuote, newQuoteAuthor)">Add</button>
                <button type="button" name="button" ng-show="isEditingQuote" ng-click="updateQuote(newQuote, newQuoteAuthor)">Update</button>
                <button type="button" name="button" ng-show="isEditingQuote" ng-click="isEditingQuote = false">Cancel</button>
            </div>
        </div>

        <ul ng-repeat="quote in quotesList">
            <li>{{quote.quote}} — {{quote.author}}</li>
            <button ng-click="deleteQuote($index)" type="button" name="button">Delete</button>
            <button ng-click="editQuote($index)" type="button" name="button">Edit</button>
            <br>
            <hr>
        </ul>
    </div>

    <div class="well" uib-collapse="manageVideos">
        <div class="addNewVideo">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title" ng-show="!isEditingVideo">Add A New Video</h3>
                    <h3 class="panel-title" ng-show="isEditingVideo">Edit Video</h3>
                </div>

                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span></span>
                        <input placeholder="Paste Iframe Here" class="form-control" type="text" ng-model="newVideo">
                    </div>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></span>
                        <input placeholder="Video Title" class="form-control" type="text" ng-model="newVideoTitle">
                    </div>
                </div>
                <button type="button" name="button" ng-show="!isEditingVideo" ng-click="addNewVideo(newVideo, newVideoTitle)">Add</button>
                <button type="button" name="button" ng-show="isEditingVideo" ng-click="updateVideo(newVideo, newVideoTitle)">Update</button>
                <button type="button" name="button" ng-show="isEditingVideo" ng-click="isEditingVideo = false">Cancel</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" ng-repeat="video in videosList">
                <a href="{{video.link}}" target="_blank">
                    <img class="img-fluid img-thumbnail video-thumbnail" src="{{video.thumbnail}}" alt="">
                </a>
                <li>
                    <h4>{{video.videoTitle}}</h4></li>
                <button ng-click="deleteVideo($index)" type="button" name="button">Delete</button>
                <button ng-click="editVideo($index)" type="button" name="button">Edit</button>
                <br>
                <hr>
            </div>
        </div>

    </div>


    <div class="well" uib-collapse="manageImages">
        <div class="addNewImage">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title" ng-show="!isEditingImage">Add A New Image</h3>
                    <h3 class="panel-title" ng-show="isEditingImage">Edit Image</h3>
                </div>

                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></span>
                        <input placeholder="Paste image URL here" class="form-control" type="text" ng-model="newImage">
                    </div>
                </div>
                <button type="button" name="button" ng-show="!isEditingImage" ng-click="addNewImage(newImage, newImageTitle)">Add</button>
                <button type="button" name="button" ng-show="isEditingImage" ng-click="updateImage(newImage, newImageTitle)">Update</button>
                <button type="button" name="button" ng-show="isEditingImage" ng-click="isEditingImage = false">Cancel</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" ng-repeat="image in imagesList">
                <img class="img-fluid img-thumbnail thumbnail" src="{{image.image}}" alt="">
                <button ng-click="deleteImage(image)" type="button" name="button">Delete</button>
                <button ng-click="editImage($index)" type="button" name="button">Edit</button>
                <br><br><br><br><br><br><br>
            </div>
        </div>

    </div>

</div>
<footer-bottom></footer-bottom>
