<nav-bar></nav-bar>

<div parallax-background parallax-ratio="-0.3" class="motto">
    <h2>Chasing Progress</h2>
</div>

<div class="background-one">
</div>


<div parallax-background parallax-ratio="0.8" class="video-container">
    <p>{{dailyQuote.quote}}</p>
    <p>- {{dailyQuote.author}}</p>
</div>

<div class="background-two">
</div>

<div parallax-background parallax-ratio="0.9" class="video-container">
    <div ng-bind-html="video" id="video">
        $sce.trustAsHtml()
    </div>
</div>

<div class="background-three">
</div>
