<nav-bar></nav-bar>


    <div class="journal-container">
        <div class="container">
            <div class="new-book-form well">
                <h2>New Book <span class="glyphicon glyphicon-book" aria-hidden="true"></span></h2>
                <form action="">
                    <label for="">Title<input type="text" class="form-control" ng-model="bookTitle"></label>
                    <label for="">Cover Image<input type="text" class="form-control" ng-model="coverImage"></label>
                    <button class="snip1562" ng-click="newBook()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Book</button>
                </form>
            </div>

            <row>
                <ul ng-repeat="book in books" class="col-md-4">
                    <a href="" ng-click="openBookPage($index)"><img  class="book-cover-thumbnail img-fluid" ng-src="{{book.coverImage}}" alt=""></a>
                </ul>
            </row>
        </div>
    </div>
