@import url('https://fonts.googleapis.com/css?family=Lato');
.home-container {
    background-image: url('https://source.unsplash.com/collection/437316/daily');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.quotes li {
    list-style: none;
}

.quotes {
    border: 1px solid black;
}

.todoContainer {
    height: 100vh;
    margin-left: auto;
}

.todoContainer h2 {
    text-align: center;
    font-size: 3em;
}

.home-container h2 {
    text-align: center;
    font-size: 150px;
    font-family: 'Lato';
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
