<ul class="nav nav-tabs navbar-inverse">
    <li ui-sref-active='active' class="text-align" role="presentation"><a class="navbar-brand" ui-sref="home">Home</a></li>
    <li ui-sref-active='active' role="presentation"><a class="navbar-brand" ui-sref="todo">Todo</a></li>
    <li ui-sref-active='active' role="presentation"><a class="navbar-brand" ui-sref="books">Books</a></li>
    <li ui-sref-active='active' role="presentation"><a class="navbar-brand" ui-sref="researchTopic">Research Topics</a></li>
</ul>
