<nav-bar></nav-bar>

<div>
    <div ng-controller="getMotivatedCtrl">
        <div particles-drv ng-show="showParticles">
        </div>


        <!-- <div class="particles-message">
            <div id="splash">
                <div id="logo-wrap">
                    <canvas id="logo-canvas"></canvas>
                    <img id="logo-img" src="https://openclipart.org/download/216413/coniglio_rabbit_small.svg">
                </div>
            </div>
        </div> -->

        <div class="particles-message">
            <div class="block">
                <div class="shape">
                    <div class="cube outer">
                        <div class="side left"></div>
                        <div class="side right"></div>
                        <div class="side top"></div>
                        <div class="side bottom"></div>
                        <div class="side front"></div>
                        <div class="side back"></div>


                        <div class="cube">
                            <div class="side left"></div>
                            <div class="side right"></div>
                            <div class="side top"></div>
                            <div class="side bottom"></div>
                            <div class="side front"></div>
                            <div class="side back"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
